.header-nav {
    background-image: url(/static/images/header-main.jpeg);
    width: auto;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sticky-nav {
    display: none;
    align-items: center;
    justify-content: center;
    height: 70px;
    background-image: url(/static/images/header-main.jpeg);
    width: auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

button {
    padding: 10px 20px;
    margin: 20px;
    background: #002266;
    color: white !important;
    opacity: 0.65;
}

button:hover {
    opacity: 1;
}

.about-us {
    width: auto;
    margin: 4rem 10%;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    color: #001B3A;
    margin-bottom: 2rem;
}

h5 {
    font-size: medium;
    width: 162px;
    text-align: center;
    font-weight: bold;
    color: #204060;
}

.icon {
    margin: 0px 1rem;
    max-width: 100%;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
}

.card{
    width: 250px;
    height: 300px;
    border-color: #E8E8E8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1rem;
    padding: .5rem;
    opacity: 0.8;
}

.card:hover{
    opacity: 1;
    width: 260px;
    height: 310px;
}

.gallery {
    padding-bottom: 2rem;
}

.footer {
    background-color: #002266;
    color: white;
    width: auto;
    height: 205px;
    opacity: 0.65;
    padding: 1rem;
}

.author {
    padding: .5rem;
    text-align: center;
    font-style: italic;
}

.address {
    font-size: small;
}

a {
    font-size: small;
    display: block;
    color: white !important;
    text-decoration: none !important;
}

a:hover{
    font-weight: bolder;
    cursor: pointer;
}

@media(max-width: 800px){
    button {
        display: none;
    }

    .header-nav{
        height: 80px;
    }

    .sticky {
        display: none !important;
    }
}