<div class="footer">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col col-2">
                <p class="address">SettlersGroup<br/>settlersgroup@settlers.com<br/>666-666-666<br/>
                Nazwa ulicy 1/1<br/>Gotteborg<br/>Szwecja</p>
            </div>
            <div class="col col-2">
                <a href="#" (click)="scrollToTop()">Home</a>
                <a href="#" (click)="scrollToAboutUs()">O nas</a>
                <a href="#" (click)="openDialog()">Dla pracownika</a>
                <a href="#" (click)="scrollToGallery()">Galeria</a>
                <a href="#">Kontakt</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="author">dorota.koperkiewicz@gmail.com</p>
            </div>
        </div>
    </div>
</div>
