<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>SettlersGroup</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet/scss" href="../static/settlersgroup-app/src/styles.scss">
</head>

<body>
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    {% endif %}
    <app-root></app-root>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/main-es2015.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/main-es5.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/runtime-es2015.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/runtime-es5.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/polyfills-es2015.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/polyfills-es5.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/vendor-es2015.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/vendor-es5.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/styles-es2015.js"></script>
    <script type="text/javascript" src="../static/settlersgroup-app/dist/settlersgroup-app/styles-es5.js"></script>
</body>

</html>